runpod
numpy
soundfile
librosa
audioread
huggingface_hub
omegaconf
hydra-core
safetensors
accelerate
pillow
transformers==4.39.3

--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.4.0
torchaudio==2.4.0